RAILS_ENV: development
SECRET_KEY_BASE: local
DEV_DATABASE_URL: mysql2://root:root@127.0.0.1:3306/skiff_ai_development
TEST_DATABASE_URL: mysql2://root:root@127.0.0.1:3306/skiff_ai_test
RAILS_LOG_LEVEL: debug
EFFYIC_AI_URL: http://172.16.1.251:10085